SoaLearning/Voting/SOA/Schemas/VotingBPELProcess1.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SoaLearning/Voting/VotingBPELProcess1"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="Name" type="string"/>
    <element name="Age" type="integer"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
   </sequence>
		</complexType>
	</element>
</schema>