ServiceBusApplication/OperationalBR_Project/Resources/WSDL/Oprational_BR.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="Oprational_BR"
     targetNamespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"
     xmlns:tns="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"
     xmlns:inp1="http://www.operation.org"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.operation.org" schemaLocation="../Schema/Operation.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="Add">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="Sub">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="Mul">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="Div">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="Add">
            <soap:operation style="document" soapAction="Add"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:output>   
        </wsdl:operation>
        
        <wsdl:operation name="Sub">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <soap:operation style="document" soapAction="Sub"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:output>  
         </wsdl:operation>
         
         <wsdl:operation name="Mul">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <soap:operation style="document" soapAction="Mul"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:output>  
         </wsdl:operation>
         
         <wsdl:operation name="Div">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <soap:operation style="document" soapAction="Div"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/HelloServiceBusApplication/OperationalBR_Project/Oprational_BR"/>
            </wsdl:output>  
         </wsdl:operation>
             
    </wsdl:binding>
    
    
</wsdl:definitions>
